Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update makes
  scripts/data/Makes.ts
  scripts/data/MakesAmoy.ts
Due: eslint . '**/*.ts' --fix

upgrade MultipleMinter SyntheticDevice Shared on Polygon
  scripts/data/addresses.json
Due: none

merge
  contracts/implementations/MultipleMinter.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

ConnectionsManager rename
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/Shared.sol/Shared.json
  contracts/implementations/Shared.sol
  contracts/implementations/nodes/SyntheticDevice.sol
  contracts/libraries/SharedStorage.sol
  contracts/mocks/MockConnections.sol
  scripts/data/addresses.json
  scripts/deploy.ts
  test/DevAdmin.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/Shared.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  utils/constants/Connection.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

a few more renaming
  abis/DimoRegistry.json
  abis/contracts/implementations/Shared.sol/Shared.json
  contracts/implementations/Shared.sol
  test/Shared.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

MultipleMinter Shared SyntheticDevice modules deployed Amoy
  scripts/data/addresses.json
Due: none

set connections in the deploy script
  scripts/deploy.ts
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix

fix tests and wrong merge conflicts
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/Shared.sol/Shared.json
  abis/contracts/implementations/nodes/SyntheticDevice.sol/SyntheticDevice.json
  contracts/implementations/Shared.sol
  contracts/implementations/nodes/SyntheticDevice.sol
  contracts/mocks/MockSacd.sol
  test/DevAdmin.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

remove roles from MultipleMinter
  Selectors.md
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/SyntheticDevice.sol
  contracts/implementations/nodes/SyntheticDeviceInternal.sol
  test/MultipleMinter.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/nodes/SyntheticDevice.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update deploy.ts to set SACD
  scripts/data/addresses.json
  scripts/deploy.ts
Due: eslint . '**/*.ts' --fix

mint SD with permission tests
  test/nodes/SyntheticDevice.test.ts
Due: eslint . '**/*.ts' --fix

mintVehicleAndSdSign tests
  test/MultipleMinter.test.ts
  utils/constants/Misc.ts
Due: eslint . '**/*.ts' --fix

update Shared module Polygon
  scripts/data/addresses.json
Due: none

mintVehicleAndSdWithDeviceDefinitionSign tests
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix

mintVehicleAndSdWithDeviceDefinitionSignBatch tests
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix

mintVehicleAndSdWithDeviceDefinitionSignAndSacd tests
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix

remove .only
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix

remove access control from MultipleMinter | documentation
  Selectors.md
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/SyntheticDevice.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

upgrade contracts Amoy
  scripts/data/addresses.json
Due: none

rename connections mock
  contracts/mocks/MockConnectionsManager.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

remove data URI
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/NFTs/VehicleId.sol/VehicleId.json
  abis/contracts/implementations/Nodes.sol/Nodes.json
  contracts/NFTs/VehicleId.sol
  contracts/implementations/BaseDataURI.sol
  contracts/implementations/Nodes.sol
  contracts/interfaces/IDimoRegistry.sol
  contracts/libraries/BaseDataURIStorage.sol
  contracts/libraries/deprecated/BaseDataURIStorage.sol
  registry.go
  scripts/abiGenerator.ts
  scripts/data/deployArgs.ts
  scripts/deploy.ts
  scripts/listSelectors.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/BaseDataURI.test.ts
  utils/constants/index.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

setup storageNode | missing SACD tests
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/Shared.sol/Shared.json
  contracts/implementations/Shared.sol
  contracts/interfaces/IStorageNode.sol
  contracts/libraries/SharedStorage.sol
  contracts/mocks/MockStorageNode.sol
  test/Shared.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

WIP mint vehicle with storage node
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/nodes/Vehicle.sol/Vehicle.json
  contracts/implementations/nodes/Vehicle.sol
  contracts/interfaces/IStorageNode.sol
  contracts/shared/Errors.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

upgrade MultipleMinter, Shared and SyntheticDevice Polygon
  scripts/data/addresses.json
Due: none

migrate sd parents admin function
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/dev/DevAdmin.sol/DevAdmin.json
  contracts/dev/DevAdmin.sol
  contracts/shared/Errors.sol
  contracts/shared/Roles.sol
  scripts/data/deployArgs.ts
  test/DevAdmin.test.ts
  utils/constants/AccessControl.ts
  utils/setup.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

multicall3 helper
  package-lock.json
  package.json
  scripts/multicall.ts
Due: eslint . '**/*.ts' --fix

abiGenerator remove duplicated definitions
  abis/DimoRegistry.json
  scripts/abiGenerator.ts
Due: eslint . '**/*.ts' --fix

fix if | documentation
  contracts/dev/DevAdmin.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

migrate sd parents script
  scripts/data/Connections.ts
  scripts/helpers.ts
  scripts/migrateSdParents.ts
  scripts/multicall.ts
Due: eslint . '**/*.ts' --fix

use getAccounts
  scripts/deployModule.ts
Due: eslint . '**/*.ts' --fix

upgrade DevAdmin Amoy
  scripts/data/addresses.json
Due: none

upgrade DevAdmin Polygon
  scripts/data/addresses.json
Due: none

get sd by parent | allow id range
  scripts/migrateSdParents.ts
Due: eslint . '**/*.ts' --fix

query events in chunks
  scripts/queryEvents.ts
Due: eslint . '**/*.ts' --fix

mintVehicleWithDeviceDefinition tests
  abis/DimoRegistry.json
  contracts/mocks/MockStorageNode.sol
  test/Shared.test.ts
  test/nodes/Vehicle.test.ts
  utils/constants/StorageNode.ts
  utils/constants/index.ts
  utils/helpers.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

fix all tests with new mintVehicleWithDeviceDefinition
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/Shared.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix

mintVehicleWithDeviceDefinition with sacd and storage node ID
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/nodes/Vehicle.sol/Vehicle.json
  contracts/implementations/nodes/Vehicle.sol
  scripts/abiGenerator.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

mintVehicleWithDeviceDefinitionSign and storage node ID
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/nodes/Vehicle.sol/Vehicle.json
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  test/Multicall.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Path conditions:
  eslint . '**/*.ts' --fix: any of: *.ts
  solhint 'contracts/**/*.sol' --fix --noPrompt: any of: *.sol
  prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol': any of: *.sol
