Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

.lintstagedrc.json:

{
    "*.ts": [
        "eslint . '**/*.ts' --fix"
    ],
    "*.sol": [
        "solhint 'contracts/**/*.sol' --fix",
        "prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'"
    ]
}

Update deployArgs
  scripts/data/deployArgs.ts
Due: eslint . '**/*.ts' --fix

Add second Amoy KMS
  scripts/data/addresses.json
Due: none

Update vehicle attributes
  scripts/data/deployArgs.ts
Due: eslint . '**/*.ts' --fix

Add MakesAmoy.ts
  scripts/data/MakesAmoy.ts
Due: eslint . '**/*.ts' --fix

Update @tableland version | Update DeviceDefinitionTable
  package-lock.json
  package.json
  scripts/data/addresses.json
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Parallel test workflow
  .github/workflows/solidity_ci.yml
  package.json
Due: none

Fix comment
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/shared/Types.sol
  registry.go
  scripts/tableland/addresses.json
  scripts/tableland/tasks.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix unit test
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  test/tableland/DeviceDefinitionTable.test.ts
  utils/constants/DeviceDefinitionTable.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update Id
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Add amoy setting
  .env.example
  hardhat.config.ts
  scripts/script.ts
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

update DeviceDefinitionTable deployment | clean up
  hardhat.config.ts
  scripts/data/addresses.json
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Add Amoy as custom chain
  hardhat.config.ts
Due: eslint . '**/*.ts' --fix

Fix deployment on local
  scripts/data/addresses.json
  scripts/data/deployArgs.ts
Due: eslint . '**/*.ts' --fix

upgrade oz hardhat upgrades
  package-lock.json
  package.json
  scripts/deployModule.ts
Due: eslint . '**/*.ts' --fix

Handle multiple KMSes
  scripts/data/addresses.json
  scripts/data/deployArgs.ts
  scripts/deploy.ts
Due: eslint . '**/*.ts' --fix

Handle multiple KMSes
  scripts/data/addresses.json
  scripts/deploy.ts
Due: eslint . '**/*.ts' --fix

Update migration task
  hardhat.config.ts
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

WIP: update vehicle minting function
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update tableland/tasks | install tableland/sdk 7 pre release
  hardhat.config.ts
  package-lock.json
  package.json
  scripts/tableland/addresses.json
  scripts/tableland/tasks.ts
  utils/helpers.ts
Due: eslint . '**/*.ts' --fix

create dd tables batch
  contracts/access/DimoAccessControl.sol
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Improve DD tests | update selectors and ABI
  Selectors.md
  abis/DimoRegistry.json
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix

update addresses.json
  hardhat.config.ts
  scripts/data/addresses.json
  scripts/deployModule.ts
  utils/helpers.ts
Due: eslint . '**/*.ts' --fix

latest deployments of device definitions
  scripts/data/addresses.json
Due: none

update HashDog name | update tasks
  scripts/data/Makes.ts
  scripts/data/MakesAmoy.ts
  scripts/data/MakesMumbai.ts
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Fix mintVehicleWithDeviceDefinitionSign tests
  test/nodes/Vehicle.test.ts
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix

Handle attributes in multiple minter | fix tests
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/shared/Types.sol
  test/MultipleMinter.test.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

add attributes to admin minting function | fix tests
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/Vehicle.sol
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

fix tests
  test/DevAdmin.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/Vehicle.test.ts
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix

Add KMS | improve comments
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/AftermarketDevice.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/shared/Types.sol
  scripts/data/addresses.json
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

comment for sync
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

update scripts | add KMS | cleanup
  .env.example
  Selectors.md
  abis/DimoRegistry.json
  package.json
  scripts/abiGenerator.ts
  scripts/data/addresses.json
  scripts/data/deployArgs.ts
  scripts/listSelectors.ts
  scripts/script.ts
Due: eslint . '**/*.ts' --fix

latest deploys
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  scripts/data/addresses.json
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Sync tableland
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  scripts/tableland/addresses.json
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add comments to functions
  contracts/implementations/tableland/DeviceDefinitionTable.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

new unit tests added
  test/tableland/DeviceDefinitionTable.test.ts
  utils/constants/DeviceDefinitionTable.ts
Due: eslint . '**/*.ts' --fix

Update sync progress
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Fix HardhatEthersSigner import
  scripts/admin.ts
  scripts/changeParentNode.ts
  scripts/deploy.ts
  scripts/deployModule.ts
  scripts/rename.ts
  scripts/tableland/deployLocalTableland.ts
  test/AdLicenseValidator.test.ts
  test/DevAdmin.test.ts
  test/DimoAccessControl.test.ts
  test/DimoForwarder.test.ts
  test/Mapper.test.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/IntegrationId.test.ts
  test/NFTs/ManufacturerId.test.ts
  test/NFTs/MultiPrivilege.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/BaseDataURI.test.ts
  test/nodes/Integration.test.ts
  test/nodes/Manufacturer.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  test/streamr/StreamrConfigurator.test.ts
  test/streamr/VehicleStream.test.ts
  test/tableland/DeviceDefinitionTable.test.ts
  utils/deploys.ts
  utils/setup.ts
Due: eslint . '**/*.ts' --fix

Remove vehicle attribute function | update tests
  Selectors.md
  abis/DimoRegistry.json
  contracts/dev/DevAdmin.sol
  contracts/shared/Roles.sol
  scripts/data/deployArgs.ts
  test/DevAdmin.test.ts
  utils/constants/AccessControl.ts
  utils/setup.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update scripts/tableland/tasks.ts
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Device definitions sync tableland (#141)
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  scripts/tableland/addresses.json
  scripts/tableland/tasks.ts
  test/tableland/DeviceDefinitionTable.test.ts
  utils/constants/DeviceDefinitionTable.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'
