Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Get SD address by ID
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/SyntheticDevice.sol
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Controller management
  contracts/implementations/tableland/DeviceDefinitionController.sol
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/implementations/tableland/DeviceDefinitionTableInternal.sol
  contracts/utils/ERC721Holder.sol
  package.json
  scripts/data/addresses.json
  scripts/deploy.ts
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Latest deployments
  scripts/data/addresses.json
  scripts/deployModule.ts
Due: eslint . '**/*.ts' --fix, prettier --write

WIP mint function refactor | clean up
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/libraries/tableland/DeviceDefinitionTableStorage.sol
  contracts/shared/Roles.sol
  contracts/shared/Types.sol
  scripts/data/deployArgs.ts
  test/tableland/DeviceDefinitionTable.test.ts
  utils/constants/AccessControl.ts
  utils/constants/DeviceDefinitionTable.ts
  utils/setup.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix bad variable name
  contracts/implementations/tableland/DeviceDefinitionTable.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Insert test cases
  Selectors.md
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  scripts/listSelectors.ts
  test/tableland/DeviceDefinitionTable.test.ts
  utils/constants/DeviceDefinitionTable.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

WIP: insert privilege
  Selectors.md
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

privileged insert tests
  test/tableland/DeviceDefinitionTable.test.ts
  utils/constants/NftArgs.ts
Due: eslint . '**/*.ts' --fix, prettier --write

PR fixes
  Selectors.md
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  scripts/data/addresses.json
  scripts/deploy.ts
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

SD burn function
  Selectors.md
  abis/DimoRegistry.json
  contracts/dev/DevAdmin.sol
  contracts/shared/Roles.sol
  scripts/data/deployArgs.ts
  test/DevAdmin.test.ts
  utils/constants/AccessControl.ts
  utils/setup.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Remove unecessary comments
  test/DevAdmin.test.ts
Due: eslint . '**/*.ts' --fix, prettier --write

Latest deployments
  scripts/data/addresses.json
Due: none

Remove prefix from table name
  Selectors.md
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update tableland packages version
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  package-lock.json
  package.json
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update workflow
  .github/workflows/solidity_ci.yml
Due: none

Remove unneeded variable
  contracts/libraries/tableland/DeviceDefinitionTableStorage.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update deploy JSON | small improves
  .openzeppelin/polygon-mumbai.json
  scripts/queryEvents.ts
  scripts/rename.ts
Due: eslint . '**/*.ts' --fix, prettier --write

Streamr setup | basic tests
  contracts/implementations/streamr/StreamrManager.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IStreamRegistry.sol
  contracts/libraries/streamr/StreamrStorage.sol
  contracts/libraries/streamr/VehicleStreamStorage.sol
  contracts/mocks/MockStreamRegistry.sol
  hardhat.config.ts
  package-lock.json
  package.json
  test/streamr/StreamrManager.test.ts
  test/streamr/VehicleStream.test.ts
  utils/constants/Streamr.ts
  utils/constants/index.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

device address reset function
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/AftermarketDevice.sol
  contracts/shared/Types.sol
  scripts/data/Makes.ts
  test/nodes/AftermarketDevice.test.ts
  utils/constants/AftermarketDevice.ts
  utils/constants/NftArgs.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Rename reset function | revert on AD paired
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/AftermarketDevice.sol
  test/nodes/AftermarketDevice.test.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

WIP: streamr tests setup
  contracts/NFTs/VehicleId.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IDimoRegistry.sol
  contracts/interfaces/IStreamRegistry.sol
  contracts/libraries/streamr/VehicleStreamStorage.sol
  package-lock.json
  package.json
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

WIP: clean up | string manupulation optimization | stream creation error handling
  contracts/implementations/streamr/StreamrManager.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IStreamRegistry.sol
  contracts/libraries/streamr/StreamrManagerStorage.sol
  contracts/mocks/MockStreamRegistry.sol
  test/streamr/StreamrManager.test.ts
  test/streamr/VehicleStream.test.ts
  utils/constants/Streamr.ts
  utils/constants/index.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Updated selectors generator
  Selectors.md
  scripts/listSelectors.ts
Due: eslint . '**/*.ts' --fix, prettier --write

Remove unecessary script
  .gitignore
  scripts/script.ts.ignore
Due: none

Working stream creating with ENS
  Selectors.md
  contracts/NFTs/VehicleId.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IDimoRegistry.sol
  contracts/interfaces/IStreamRegistry.sol
  contracts/libraries/streamr/VehicleStreamStorage.sol
  scripts/listSelectors.ts
  test/streamr/StreamrManager.test.ts
  test/streamr/VehicleStream.test.ts
  utils/constants/Streamr.ts
  utils/constants/index.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Clean up | documentation | streamr state tests
  Selectors.md
  contracts/implementations/streamr/StreamrManager.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IStreamRegistry.sol
  contracts/libraries/streamr/StreamrManagerStorage.sol
  contracts/libraries/streamr/VehicleStreamStorage.sol
  test/streamr/StreamrManager.test.ts
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Clean up | change permission setting
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IStreamRegistry.sol
  hardhat.config.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

rename StremrManager
  Selectors.md
  contracts/implementations/streamr/StreamrConfigurator.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/libraries/streamr/StreamrConfiguratorStorage.sol
  scripts/listSelectors.ts
  test/streamr/StreamrConfigurator.test.ts
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Set stream Id to existing vehicle
  Selectors.md
  contracts/implementations/streamr/StreamrConfigurator.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IStreamRegistry.sol
  contracts/libraries/streamr/StreamrConfiguratorStorage.sol
  contracts/libraries/streamr/VehicleStreamStorage.sol
  test/streamr/StreamrConfigurator.test.ts
  test/streamr/VehicleStream.test.ts
  utils/constants/Streamr.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Config ENS
  Selectors.md
  contracts/implementations/streamr/StreamrConfigurator.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/libraries/streamr/StreamrConfiguratorStorage.sol
  test/streamr/StreamrConfigurator.test.ts
  test/streamr/VehicleStream.test.ts
  utils/constants/Streamr.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

PR fixes
  Selectors.md
  contracts/implementations/streamr/VehicleStream.sol
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Latest deployments
  scripts/data/addresses.json
  scripts/data/deployArgs.ts
  scripts/deploy.ts
Due: eslint . '**/*.ts' --fix, prettier --write

Add StreamRegistry address
  scripts/data/addresses.json
Due: none

Fix typo
  contracts/libraries/streamr/VehicleStreamStorage.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Admin function to Cache Streamr ENS
  Selectors.md
  abis/DimoRegistry.json
  contracts/dev/DevAdmin.sol
  contracts/shared/Roles.sol
  scripts/data/deployArgs.ts
  test/DevAdmin.test.ts
  utils/constants/AccessControl.ts
  utils/setup.ts
Due: eslint . '**/*.ts' --fix, prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Path conditions:
  eslint . '**/*.ts' --fix: any of: *.ts
  prettier --write: any of: *.ts
  solhint 'contracts/**/*.sol' --fix: any of: *.sol
  prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol': any of: *.sol
