Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

mintVehicleAndSdSign and storage node ID
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  contracts/implementations/storageNode/StorageNodeInternal.sol
  contracts/shared/Types.sol
  test/MultipleMinter.test.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

mintVehicleAndSdWithDeviceDefinitionSign and Storage Node ID
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  contracts/implementations/MultipleMinter.sol
  contracts/shared/Types.sol
  test/MultipleMinter.test.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

mintVehicleAndSdWithDeviceDefinitionSignAndSacd with Storage Node ID
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  contracts/implementations/MultipleMinter.sol
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

mintVehicleAndSdWithDeviceDefinitionSignBatch with Storage Node ID
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  contracts/implementations/MultipleMinter.sol
  contracts/shared/Types.sol
  test/MultipleMinter.test.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

documentation
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

setup StorageNodeRegistry | update Vehicle module
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/Shared.sol/Shared.json
  contracts/implementations/Shared.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/storageNode/StorageNodeInternal.sol
  contracts/implementations/storageNode/StorageNodeRegistry.sol
  contracts/implementations/storageNode/StorageNodeRegistryInternal.sol
  contracts/interfaces/IStorageNode.sol
  contracts/libraries/SharedStorage.sol
  contracts/libraries/StorageNodeRegistryStorage.sol
  contracts/mocks/MockStorageNode.sol
  scripts/abiGenerator.ts
  scripts/listSelectors.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update MultipleMinter with StorageNodeRegistry
  contracts/implementations/MultipleMinter.sol
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

adapt remaining tests
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Multicall.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/Shared.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix

Documentation
  contracts/implementations/storageNode/StorageNodeRegistry.sol
  contracts/implementations/storageNode/StorageNodeRegistryInternal.sol
  contracts/shared/Types.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

adapt addresses.json
  scripts/data/addresses.json
Due: none

get function
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/storageNode/StorageNodeRegistry.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update scripts
  scripts/data/deployArgs.ts
  scripts/deploy.ts
  scripts/script.ts
Due: eslint . '**/*.ts' --fix

deployments on Amoy
  scripts/data/addresses.json
Due: none

set storage node id for vehicle id
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  abis/contracts/implementations/nodes/Vehicle.sol/Vehicle.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/storageNode/StorageNodeRegistry.sol
  contracts/implementations/storageNode/StorageNodeRegistryInternal.sol
  test/MultipleMinter.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

StorageNodeRegistry tests
  test/Shared.test.ts
  test/storageNode/StorageNodeRegistry.test.ts
Due: eslint . '**/*.ts' --fix

deployments Amoy
  scripts/data/addresses.json
Due: none

set storage node Id devAdmin
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/dev/DevAdmin.sol/DevAdmin.json
  contracts/dev/DevAdmin.sol
  contracts/shared/Roles.sol
  test/DevAdmin.test.ts
  utils/constants/AccessControl.ts
  utils/constants/StorageNode.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

devAdmin deployment Amoy
  scripts/data/addresses.json
Due: none

rename event
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/dev/DevAdmin.sol/DevAdmin.json
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  abis/contracts/implementations/nodes/Vehicle.sol/Vehicle.json
  contracts/dev/DevAdmin.sol
  contracts/implementations/storageNode/StorageNodeRegistry.sol
  contracts/implementations/storageNode/StorageNodeRegistryInternal.sol
  test/DevAdmin.test.ts
  test/MultipleMinter.test.ts
  test/nodes/Vehicle.test.ts
  test/storageNode/StorageNodeRegistry.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update deployments Amoy
  scripts/data/addresses.json
Due: none

update registry abi
  abis/DimoRegistry.json
Due: none

storage node deployment Polygon
  scripts/data/addresses.json
Due: none

fix devAdmin events
  abis/DimoRegistry.json
  abis/contracts/dev/DevAdmin.sol/DevAdmin.json
  contracts/dev/DevAdmin.sol
  scripts/abiGenerator.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

handle burning
  contracts/implementations/nodes/Vehicle.sol
  test/NFTs/VehicleId.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

remove all integration file references
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/dev/DevAdmin.sol/DevAdmin.json
  contracts/NFTs/deprecated/IntegrationId.sol
  contracts/deprecated/Integration.sol
  contracts/dev/DevAdmin.sol
  contracts/libraries/deprecated/IntegrationStorage.sol
  contracts/shared/Roles.sol
  hardhat.config.ts
  registry.go
  scripts/abiGenerator.ts
  scripts/data/Integrations.ts
  scripts/data/addresses_deprecated.json
  scripts/data/deployArgs.ts
  scripts/deploy.ts
  scripts/deployModule.ts
  scripts/listSelectors.ts
  scripts/migrateSdParents.ts
  scripts/script.ts
  test/DevAdmin.test.ts
  test/NFTs/IntegrationId.test.ts
  test/nodes/Integration.test.ts
  utils/constants/AccessControl.ts
  utils/constants/Integration.ts
  utils/constants/NftArgs.ts
  utils/constants/index.ts
  utils/setup.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

remove integration | upgrade devadmin Amoy
  scripts/data/addresses.json
  scripts/data/addresses_deprecated.json
Due: none

remove integration address | upgrade devAdmin Polygon
  scripts/data/addresses.json
Due: none

reprovision with SACD
  contracts/implementations/nodes/AftermarketDevice.sol
  test/nodes/AftermarketDevice.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

reset AD for claiming
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/NFTs/AftermarketDeviceId.sol/AftermarketDeviceId.json
  abis/contracts/implementations/nodes/AftermarketDevice.sol/AftermarketDevice.json
  contracts/NFTs/AftermarketDeviceId.sol
  contracts/implementations/nodes/AftermarketDevice.sol
  contracts/interfaces/IDimoRegistry.sol
  test/NFTs/AftermarketDeviceId.test.ts
  test/nodes/AftermarketDevice.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

deploy AD ID and AD module Amoy
  scripts/data/addresses.json
Due: none

deploy AD ID and AD module Polygon
  scripts/data/addresses.json
Due: none

admin claim role
  contracts/NFTs/AftermarketDeviceId.sol
  contracts/implementations/nodes/AftermarketDevice.sol
  contracts/shared/Roles.sol
  utils/constants/AccessControl.ts
  utils/setup.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update aftermarket device module Amoy
  scripts/data/addresses.json
Due: none

update aftermarket device module Polygon
  scripts/data/addresses.json
Due: none

pair ad with just AD signature
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/nodes/AftermarketDevice.sol/AftermarketDevice.json
  contracts/implementations/nodes/AftermarketDevice.sol
  test/nodes/AftermarketDevice.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

add abigen to build
  package.json
  registry.go
Due: none

save on the workflow
  .github/workflows/solidity_ci.yml
Due: none

fix ci
  .github/workflows/solidity_ci.yml
Due: none

update AftermarketDevice module Amoy
  scripts/data/addresses.json
Due: none

fix wrong address update
  scripts/data/addresses.json
Due: none

Path conditions:
  eslint . '**/*.ts' --fix: any of: *.ts
  solhint 'contracts/**/*.sol' --fix --noPrompt: any of: *.sol
  prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol': any of: *.sol
