Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

super admin role for DevAdmin
  contracts/dev/DevAdmin.sol
  contracts/shared/Roles.sol
  scripts/data/deployArgs.ts
  test/DevAdmin.test.ts
  utils/constants/AccessControl.ts
  utils/setup.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update DevAdmin on amoy
  scripts/data/addresses.json
Due: none

update DevAdmin on Polygon
  scripts/data/addresses.json
Due: none

update DevAdmin Polygon
  scripts/data/addresses.json
Due: none

mint sd with sacd
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/MultipleMinter.sol
  test/MultipleMinter.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

MultipleMinter Amoy deploy
  scripts/data/addresses.json
Due: none

Add node version info
  .github/workflows/solidity_ci.yml
  .nvmrc
Due: none

add minting without sacd function back
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/MultipleMinter.sol
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update MultipleMinter module on Amoy
  scripts/data/addresses.json
Due: none

update function name
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/MultipleMinter.sol
  scripts/data/addresses.json
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

remove unused functions
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

batch mint and tests
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/charging/ChargingInternal.sol
  contracts/shared/Types.sol
  test/MultipleMinter.test.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

documentation
  contracts/implementations/MultipleMinter.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update addresses
  scripts/data/addresses.json
Due: none

restore Streamr integration: use the SACD callback to update StreamRegistry when SACD permissions change
  abis/contracts/NFTs/VehicleId.sol/VehicleId.json
  contracts/NFTs/VehicleId.sol
  contracts/implementations/streamr/StreamrConfigurator.sol
  contracts/implementations/streamr/StreamrSacdListener.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/ISacdListener.sol
  contracts/libraries/streamr/StreamrConfiguratorStorage.sol
  contracts/mocks/MockSacd.sol
  scripts/data/addresses.json
  scripts/deploy.ts
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update Vehicle module amoy
  scripts/data/addresses.json
Due: none

update MultipleMinter on Amoy
  scripts/data/addresses.json
Due: none

Vehicle and MultipleMinter deploys on Polygon
  scripts/data/addresses.json
Due: none

update abis exported
  abis/DimoRegistry.json
  abis/contracts/dev/DevAdmin.sol/DevAdmin.json
  abis/contracts/implementations/Mapper.sol/Mapper.json
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  abis/contracts/implementations/Nodes.sol/Nodes.json
  abis/contracts/implementations/Shared.sol/Shared.json
  abis/contracts/implementations/nodes/AftermarketDevice.sol/AftermarketDevice.json
  abis/contracts/implementations/nodes/Integration.sol/Integration.json
  abis/contracts/implementations/nodes/Manufacturer.sol/Manufacturer.json
  abis/contracts/implementations/nodes/SyntheticDevice.sol/SyntheticDevice.json
  abis/contracts/implementations/nodes/SyntheticDeviceInternal.sol/SyntheticDeviceInternal.json
  abis/contracts/implementations/nodes/Vehicle.sol/Vehicle.json
  abis/contracts/implementations/nodes/VehicleInternal.sol/VehicleInternal.json
  hardhat.config.ts
Due: eslint . '**/*.ts' --fix

readd mintVehicleAndSdWithDeviceDefinitionSign
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/MultipleMinter.sol
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

upgrade multipleMinter Amoy
  scripts/data/addresses.json
Due: none

update deployModule script
  scripts/deployModule.ts
Due: eslint . '**/*.ts' --fix

add connections to Shared module
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/Shared.sol/Shared.json
  contracts/implementations/Shared.sol
  contracts/libraries/SharedStorage.sol
  contracts/mocks/MockConnections.sol
  contracts/mocks/MockManufacturerLicense.sol
  test/Shared.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Synthetic device mint with connection
  abis/DimoRegistry.json
  abis/contracts/implementations/nodes/SyntheticDevice.sol/SyntheticDevice.json
  contracts/implementations/nodes/SyntheticDevice.sol
  contracts/mocks/MockConnections.sol
  contracts/shared/Types.sol
  test/nodes/SyntheticDevice.test.ts
  utils/constants/Connection.ts
  utils/constants/Eip712Types.json
  utils/constants/index.ts
  utils/helpers.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

rename mockStake
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Mapper.test.ts
  test/Multicall.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/Shared.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix

fix tests with connections
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix

replace integration in multiple minter
  abis/DimoRegistry.json
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  abis/contracts/implementations/nodes/SyntheticDevice.sol/SyntheticDevice.json
  abis/contracts/implementations/nodes/SyntheticDeviceInternal.sol/SyntheticDeviceInternal.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/SyntheticDeviceInternal.sol
  contracts/shared/Types.sol
  test/MultipleMinter.test.ts
  utils/constants/Connection.ts
  utils/constants/Eip712Types.json
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix comment
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix

Use permissions instead of roles for SD minting
  contracts/implementations/Shared.sol
  contracts/implementations/nodes/SyntheticDevice.sol
  contracts/libraries/SharedStorage.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Casing and ABIs
  abis/contracts/implementations/Shared.sol/Shared.json
  abis/contracts/implementations/nodes/SyntheticDevice.sol/SyntheticDevice.json
  contracts/implementations/Shared.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix this nonsensical address stuff
  contracts/implementations/nodes/SyntheticDevice.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Save progress: One test passes!
  contracts/mocks/MockSacd.sol
  test/NFTs/SyntheticDeviceId.test.ts
  utils/constants/NftArgs.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update MultipleMinter Polygon
  scripts/data/Integrations.ts
  scripts/data/addresses.json
Due: eslint . '**/*.ts' --fix

fix sacd mock | fix a couple of tests
  Selectors.md
  abis/DimoRegistry.json
  contracts/mocks/MockSacd.sol
  test/NFTs/VehicleId.test.ts
  test/nodes/SyntheticDevice.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

fix remaining tests
  test/DevAdmin.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix

Revert "Ex 3574 connection permission for minting synthetics"
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/Shared.sol/Shared.json
  abis/contracts/implementations/nodes/SyntheticDevice.sol/SyntheticDevice.json
  contracts/implementations/Shared.sol
  contracts/implementations/nodes/SyntheticDevice.sol
  contracts/libraries/SharedStorage.sol
  contracts/mocks/MockSacd.sol
  test/DevAdmin.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  utils/constants/NftArgs.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

ConnectionsManager rename
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/Shared.sol/Shared.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/Shared.sol
  contracts/implementations/nodes/SyntheticDevice.sol
  contracts/libraries/SharedStorage.sol
  contracts/mocks/MockConnections.sol
  scripts/data/addresses.json
  scripts/deploy.ts
  test/DevAdmin.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/Shared.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  utils/constants/Connection.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

a few more renaming
  abis/DimoRegistry.json
  abis/contracts/implementations/Shared.sol/Shared.json
  contracts/implementations/Shared.sol
  test/Shared.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

MultipleMinter Shared SyntheticDevice modules deployed Amoy
  scripts/data/addresses.json
Due: none

set connections in the deploy script
  scripts/deploy.ts
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix

Path conditions:
  eslint . '**/*.ts' --fix: any of: *.ts
  solhint 'contracts/**/*.sol' --fix --noPrompt: any of: *.sol
  prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol': any of: *.sol
