Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Tableland contracts deployment
  scripts/data/addresses.json
Due: none

Add gas price bump
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Updating stream path
  contracts/dev/DevAdmin.sol
  contracts/implementations/streamr/VehicleStream.sol
  scripts/data/deployArgs.ts
  test/DevAdmin.test.ts
  test/streamr/VehicleStream.test.ts
  utils/constants/DataURI.ts
  utils/constants/NftArgs.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Subscribe on set privilege
  Selectors.md
  abis/DimoRegistry.json
  contracts/NFTs/Base/MultiPrivilege/MultiPrivilegeTransferableBurnable.sol
  contracts/NFTs/VehicleId.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IDimoRegistry.sol
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Streamr deployments on prod
  scripts/data/addresses.json
Due: none

Set streamr metadata
  .solhint.json
  contracts/implementations/streamr/VehicleStream.sol
  test/streamr/VehicleStream.test.ts
  utils/helpers.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add expiration on set privilege
  .openzeppelin/polygon-mumbai.json
  Selectors.md
  abis/DimoRegistry.json
  contracts/NFTs/Base/MultiPrivilege/MultiPrivilegeTransferableBurnable.sol
  contracts/NFTs/VehicleId.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IDimoRegistry.sol
  contracts/interfaces/IStreamRegistry.sol
  scripts/data/addresses.json
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Streamr latest deployments
  scripts/data/addresses.json
Due: none

Mint vehicle with DD
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/Vehicle.sol
  contracts/libraries/nodes/VehicleStorage.sol
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  test/streamr/VehicleStream.test.ts
  utils/constants/DeviceDefinitionTable.ts
  utils/constants/index.ts
  utils/index.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Unify mint event
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  test/MultipleMinter.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Mint vehicle with DD metatx
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  test/streamr/VehicleStream.test.ts
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

mint vehicle and sd with dd metatx
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  contracts/shared/Types.sol
  test/MultipleMinter.test.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Small fixes
  contracts/implementations/MultipleMinter.sol
  test/MultipleMinter.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Handle burning
  contracts/dev/DevAdmin.sol
  contracts/implementations/nodes/Vehicle.sol
  test/DevAdmin.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix tests
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix

Revert "Mint vehicle with DD"
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  contracts/libraries/nodes/VehicleStorage.sol
  test/nodes/Vehicle.test.ts
  utils/constants/DeviceDefinitionTable.ts
  utils/constants/eip712.ts
  utils/constants/index.ts
  utils/index.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update package-lock.json
  package-lock.json
Due: none

Latest mumbai deployments
  scripts/data/addresses.json
Due: none

Latest mumbai deployments
  .openzeppelin/polygon-mumbai.json
  scripts/data/addresses.json
Due: none

open vehicle minting
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  contracts/mocks/MockDimoToken.sol
  contracts/mocks/MockStake.sol
  contracts/nonces/Nonces.sol
  contracts/nonces/NoncesInternal.sol
  contracts/nonces/NoncesStorage.sol
  scripts/abiGenerator.ts
  test/nodes/Vehicle.test.ts
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

test 1
  .github/workflows/solidity_ci.yml
  package.json
Due: none

Parallel test workflow
  .github/workflows/solidity_ci.yml
  contracts/access/DimoAccessControl.sol
  package.json
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Typehashes helper
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix

Fix open minting
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/Vehicle.sol
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update abiGenerator.ts
  abis/DimoRegistry.json
  scripts/abiGenerator.ts
  scripts/tableland/addresses.json
Due: eslint . '**/*.ts' --fix

Latest deployments
  contracts/implementations/streamr/VehicleStream.sol
  scripts/data/addresses.json
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add Nonces modules to deploy setup
  scripts/data/addresses.json
  scripts/deploy.ts
Due: eslint . '**/*.ts' --fix

Add nonces to MintVehicleSign and multiple minter
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  contracts/shared/Types.sol
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/nodes/Vehicle.test.ts
  utils/constants/eip712.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add devicetype and imageuri
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/shared/Types.sol
  scripts/data/Makes.ts
  scripts/tableland/addresses.json
  scripts/tableland/tasks.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add insertDeviceDefinitionData
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/tableland/DeviceDefinitionTable.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

remove make
  scripts/data/Makes.ts
  scripts/tableland/addresses.json
Due: eslint . '**/*.ts' --fix

WIP: deploy Amoy script
  hardhat.config.ts
  scripts/data/MakesMumbai.ts
  scripts/data/addresses.json
  scripts/deployAmoy.ts
Due: eslint . '**/*.ts' --fix

DIMORegistry and NFTs deployed to Amoy
  scripts/data/addresses.json
Due: none

Update deployment script
  .env.example
  scripts/data/deployArgs.ts
  scripts/deploy.ts
  scripts/deployAmoy.ts
Due: eslint . '**/*.ts' --fix

Path conditions:
  eslint . '**/*.ts' --fix: any of: *.ts
  solhint 'contracts/**/*.sol' --fix: any of: *.sol
  prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol': any of: *.sol
