Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

.lintstagedrc.json:

{
    "*.ts": [
        "eslint . '**/*.ts' --fix"
    ],
    "*.sol": [
        "solhint 'contracts/**/*.sol' --fix --noPrompt",
        "prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'"
    ]
}

update AftermarketDevice module Amoy
  scripts/data/addresses.json
Due: none

update AD module Polygon
  scripts/data/addresses.json
Due: none

improve abigen
  README.md
  package.json
  scripts/generate-bindings.sh
Due: none

move device definitions off-chain for vehicle mints
  contracts/dev/DevAdmin.sol
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  contracts/libraries/nodes/VehicleStorage.sol
  contracts/shared/Types.sol
  scripts/tasks.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

drop vehicle attributes (Make/Model/Year)
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/dev/DevAdmin.sol/DevAdmin.json
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  abis/contracts/implementations/nodes/SyntheticDevice.sol/SyntheticDevice.json
  abis/contracts/implementations/nodes/Vehicle.sol/Vehicle.json
  abis/contracts/implementations/nodes/VehicleInternal.sol/VehicleInternal.json
  contracts/dev/DevAdmin.sol
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  contracts/libraries/nodes/VehicleStorage.sol
  contracts/shared/Roles.sol
  contracts/shared/Types.sol
  registry.go
  scripts/tasks.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

restore mint variants without storage node parameter
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  abis/contracts/implementations/nodes/Vehicle.sol/Vehicle.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/shared/Types.sol
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Remove the on-chain vehicle device definition
  abis/contracts/implementations/MultipleMinter.sol/MultipleMinter.json
  abis/contracts/implementations/nodes/SyntheticDevice.sol/SyntheticDevice.json
  abis/contracts/implementations/nodes/Vehicle.sol/Vehicle.json
  abis/contracts/implementations/nodes/VehicleInternal.sol/VehicleInternal.json
  contracts/dev/DevAdmin.sol
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  contracts/libraries/nodes/VehicleStorage.sol
  contracts/shared/Types.sol
  scripts/tasks.ts
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  test/storageNode/StorageNodeRegistry.test.ts
  test/streamr/VehicleStream.test.ts
  utils/constants/Eip712Types.json
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Override ensdomains/buffer to v0.1.3
  package-lock.json
  package.json
Due: none

Increase mocha timeout for these Tableland tests
  hardhat.config.ts
Due: eslint . '**/*.ts' --fix

Use self-hosted runners
  .github/workflows/solidity_ci.yml
Due: none

Use long-duration Tableland poller
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix

Try dropping the Mocha timeout back to normal
  hardhat.config.ts
Due: eslint . '**/*.ts' --fix

Regenerate ABI, selectors, and abigen files
  Selectors.md
  abis/DimoRegistry.json
  bindings/aftermarketDeviceId/aftermarketDeviceId.go
  bindings/dimoForwarder/dimoForwarder.go
  bindings/integrationId/integrationId.go
  bindings/manufacturerId/manufacturerId.go
  bindings/registry/registry.go
  bindings/syntheticDeviceId/syntheticDeviceId.go
  bindings/vehicleId/vehicleId.go
Due: none

Fix this test type: SdId → SnId
  registry.go
  test/MultipleMinter.test.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix

Add tests for the functions without storage nodes
  test/MultipleMinter.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix
