Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

misc
  contracts/mocks/MockDimoToken.sol
  scripts/deployModule.ts
  scripts/script.ts
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

dd delete csv template
  scripts/data/ddDeleteInput.csv
Due: none

AD claiming
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/AftermarketDevice.sol
  test/nodes/AftermarketDevice.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

fix claiming tests
  test/nodes/AftermarketDevice.test.ts
Due: eslint . '**/*.ts' --fix

AD pairing
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/AftermarketDevice.sol
  test/nodes/AftermarketDevice.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

documentation
  contracts/implementations/nodes/AftermarketDevice.sol
  test/nodes/AftermarketDevice.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

fix docs
  contracts/implementations/nodes/AftermarketDevice.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

mint vehicle with sacd
  Selectors.md
  abis/DimoRegistry.json
  abis/contracts/NFTs/VehicleId.sol/VehicleId.json
  contracts/NFTs/Base/NftBaseUpgradeableTransferableBurnable.sol
  contracts/NFTs/VehicleId.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/interfaces/INFT.sol
  contracts/interfaces/ISacd.sol
  contracts/shared/Types.sol
  test/NFTs/VehicleId.test.ts
  test/nodes/Vehicle.test.ts
  utils/constants/Sacd.ts
  utils/constants/index.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

fix tests
  test/DevAdmin.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
Due: eslint . '**/*.ts' --fix

update docs
  contracts/NFTs/Base/NftBaseUpgradeableTransferableBurnable.sol
  contracts/NFTs/VehicleId.sol
  contracts/implementations/nodes/Vehicle.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Latest Amoy deploys
  scripts/data/addresses.json
  scripts/deployModule.ts
Due: eslint . '**/*.ts' --fix

update signature checker
  contracts/Eip712/Eip712CheckerInternal.sol
  contracts/implementations/nodes/AftermarketDevice.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Latest Amoy deploys
  scripts/data/addresses.json
Due: none

allow update devicetype, imageuri, ksuid
  contracts/implementations/tableland/DeviceDefinitionTable.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

use the device definition input object to do the update
  contracts/implementations/tableland/DeviceDefinitionTable.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

linter
  contracts/implementations/tableland/DeviceDefinitionTable.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix tests | simplify input object | simplify event
  .gitignore
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/shared/Types.sol
  test/tableland/DeviceDefinitionTable.test.ts
  utils/constants/DeviceDefinitionTable.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Burn SD WIP
  contracts/NFTs/SyntheticDeviceId.sol
  contracts/implementations/nodes/SyntheticDevice.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Latest DeviceDefinitionTable deploy
  scripts/data/addresses.json
Due: none

regen abi
  registry.go
Due: none

transfer multiple with dimo forwarder
  abis/contracts/DimoForwarder.sol/DimoForwarder.json
  contracts/DimoForwarder.sol
  test/DimoForwarder.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update tests
  test/DimoForwarder.test.ts
Due: eslint . '**/*.ts' --fix

Update documentation
  contracts/DimoForwarder.sol
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

upgrade DimoForwarder on Amoy
  scripts/data/addresses.json
  scripts/deployModule.ts
Due: eslint . '**/*.ts' --fix

update DeviceDefinitionTable on Polygon
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  scripts/data/addresses.json
Due: solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Latest upgrades on Polygon
  scripts/data/addresses.json
Due: none

update Vehicle Id address in Polygon
  scripts/data/addresses.json
Due: none

Rerrange mint with SACD calls
  abis/contracts/NFTs/VehicleId.sol/VehicleId.json
  contracts/NFTs/VehicleId.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/interfaces/INFT.sol
  test/NFTs/VehicleId.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update Vehicle and VehicleId on Amoy
  scripts/data/addresses.json
Due: none

update Vehicle and VehicleId on Polygon
  scripts/data/addresses.json
Due: none

mint vehicle task
  hardhat.config.ts
  scripts/tasks.ts
Due: eslint . '**/*.ts' --fix

add owner to mint-vehicle task
  scripts/tasks.ts
Due: eslint . '**/*.ts' --fix

fix vehicle test variables
  test/NFTs/VehicleId.test.ts
Due: eslint . '**/*.ts' --fix

SD burn fix | tests
  Selectors.md
  abis/DimoRegistry.json
  contracts/NFTs/SyntheticDeviceId.sol
  contracts/implementations/nodes/SyntheticDevice.sol
  contracts/interfaces/IDimoRegistry.sol
  test/NFTs/SyntheticDeviceId.test.ts
  test/nodes/SyntheticDevice.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Amoy deploy
  scripts/data/addresses.json
Due: none

Polygon deploy
  scripts/data/addresses.json
Due: none

update SD module address on Polygon
  scripts/data/addresses.json
Due: none

update DevAdmin events
  Selectors.md
  abis/DimoRegistry.json
  contracts/dev/DevAdmin.sol
  test/DevAdmin.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix --noPrompt, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

update addresses.json with existing DevAdmin module
  scripts/data/addresses.json
Due: none

update DevAdmin Amoy deploy
  scripts/data/addresses.json
Due: none

Path conditions:
  eslint . '**/*.ts' --fix: any of: *.ts
  solhint 'contracts/**/*.sol' --fix --noPrompt: any of: *.sol
  prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol': any of: *.sol
