Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

.lintstagedrc.json:

{
    "*.ts": [
        "eslint . '**/*.ts' --fix"
    ],
    "*.sol": [
        "solhint 'contracts/**/*.sol' --fix",
        "prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'"
    ]
}

Add new line to end of file
  utils/constants/Streamr.ts
Due: eslint . '**/*.ts' --fix

WIP: on transfer vehicle Id
  Selectors.md
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IDimoRegistry.sol
  contracts/interfaces/IStreamRegistry.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add Streamr contracts to ABI generation script
  abis/DimoRegistry.json
  scripts/abiGenerator.ts
Due: eslint . '**/*.ts' --fix

WIP: transfer arbitrary streamId
  contracts/NFTs/VehicleId.sol
  contracts/implementations/streamr/VehicleStream.sol
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Latest deployments
  scripts/data/addresses.json
Due: none

messy script
  .gitignore
  scripts/script.ts
Due: eslint . '**/*.ts' --fix

Latest DevAdmin deployment
  scripts/data/addresses.json
Due: none

Fix run-tableland-local script
  scripts/tableland/Instructions.md
  scripts/tableland/addresses.json
  scripts/tableland/deployLocalTableland.ts
  scripts/tableland/tasks.ts
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix

Batch script to syncronize Device Definitions
  .gitignore
  contracts/implementations/tableland/ManufacturerController.sol
  contracts/implementations/tableland/ManufacturerTable.sol
  contracts/libraries/tableland/ManufacturerTableStorage.sol
  contracts/shared/Types.sol
  scripts/deploy.ts
  scripts/tableland/addresses.json
  scripts/tableland/tasks.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

dd friendly name
  Selectors.md
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  scripts/tableland/addresses.json
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Insert DD
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  scripts/tableland/addresses.json
  scripts/tableland/deployLocalTableland.ts
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update DD table schema
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/implementations/tableland/ManufacturerController.sol
  contracts/implementations/tableland/ManufacturerTable.sol
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add deviceDefinitionId
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Fix unit test
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/shared/Types.sol
  scripts/tableland/tasks.ts
  test/tableland/DeviceDefinitionTable.test.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix comment
  Selectors.md
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/libraries/tableland/ManufacturerTableStorage.sol
  contracts/shared/Types.sol
  scripts/deploy.ts
  scripts/tableland/addresses.json
  scripts/tableland/tasks.ts
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Remove DeviceDefinitionController
  scripts/deploy.ts
Due: eslint . '**/*.ts' --fix

Update DD id
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Add Chery manufacturer to makes list
  scripts/data/Makes.ts
  scripts/data/MakesDev.ts
  scripts/script.ts
Due: eslint . '**/*.ts' --fix

Add Chery manufacturer to makes list
  scripts/data/Makes.ts
  scripts/data/MakesDev.ts
  scripts/script.ts.ignore
Due: eslint . '**/*.ts' --fix

use streams mapping
  contracts/implementations/streamr/VehicleStream.sol
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

handle only internal stream Id on vehicle transfer
  contracts/implementations/streamr/VehicleStream.sol
  contracts/libraries/streamr/VehicleStreamStorage.sol
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update registry ABI
  abis/DimoRegistry.json
Due: none

Validate if exists
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

add minor streamr requirements
  Selectors.md
  abis/DimoRegistry.json
  contracts/NFTs/VehicleId.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IDimoRegistry.sol
  contracts/libraries/streamr/VehicleStreamStorage.sol
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Handle vehicle burning
  Selectors.md
  abis/DimoRegistry.json
  contracts/NFTs/VehicleId.sol
  contracts/implementations/streamr/VehicleStream.sol
  contracts/interfaces/IDimoRegistry.sol
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add filter to tableland
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Add Legacy Id
  Selectors.md
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/shared/Types.sol
  scripts/deploy.ts
  scripts/tableland/addresses.json
  scripts/tableland/tasks.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Reprovision ADs function | remove unpair require for AD reset
  .gitignore
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/AftermarketDevice.sol
  test/DevAdmin.test.ts
  test/nodes/AftermarketDevice.test.ts
  utils/constants/NftArgs.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update AftermarketDevice deployments
  scripts/data/addresses.json
Due: none

Subscribe to stream with privilege
  .gitignore
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/streamr/VehicleStream.sol
  test/nodes/AftermarketDevice.test.ts
  test/streamr/VehicleStream.test.ts
  utils/constants/NftArgs.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Rename column to ksuid | update tableland packages | small corrections
  .gitignore
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/shared/Types.sol
  package-lock.json
  package.json
  scripts/tableland/tasks.ts
  test/tableland/DeviceDefinitionTable.test.ts
  utils/constants/DeviceDefinitionTable.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Allow mumbai in the tableland tasks
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Streamr deployment | vehicle Id burn callback
  .openzeppelin/polygon-mumbai.json
  scripts/data/addresses.json
  scripts/deployModule.ts
Due: eslint . '**/*.ts' --fix

Update dev Manufacturer module
  scripts/data/addresses.json
Due: none

Update AftermarketDeviceId on polygon
  scripts/data/addresses.json
Due: none

Mumbai setup
  scripts/tableland/tasks.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix
