Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

.lintstagedrc.json:

{
    "*.ts": [
        "prettier --write"
    ],
    "*.sol": [
        "solhint 'contracts/**/*.sol' --fix",
        "prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'"
    ]
}

Add linting
  .eslintignore
  .eslintrc
  .lintstagedrc.json
  abis/contracts/NFTs/AftermarketDeviceId.sol/AftermarketDeviceId.json
  abis/contracts/NFTs/IntegrationId.sol/IntegrationId.json
  abis/contracts/NFTs/ManufacturerId.sol/ManufacturerId.json
  abis/contracts/NFTs/SyntheticDeviceId.sol/SyntheticDeviceId.json
  abis/contracts/NFTs/VehicleId.sol/VehicleId.json
  hardhat.config.ts
  package-lock.json
  package.json
  scripts/admin.ts
  scripts/deploy.ts
  scripts/deployModule.ts
  scripts/linearization.ts
  scripts/rename.ts
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  utils/constants/NftArgs.ts
  utils/constants/UpgradeableContractsArgs.ts
Due: prettier --write

Fix override
  contracts/NFTs/Base/NftBaseUpgradeable.sol
  contracts/NFTs/Base/NftBaseUpgradeableTransferable.sol
  contracts/NFTs/Base/NftBaseUpgradeableTransferableBurnable.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix test string | add process.exit()
  scripts/abiGenerator.ts
  scripts/admin.ts
  scripts/deploy.ts
  scripts/deployModule.ts
  scripts/queryEvents.ts
  scripts/rename.ts
  test/DimoForwarder.test.ts
  test/NFTs/VehicleId.test.ts
Due: prettier --write

Add list selectors script
  Selectors.md
  package.json
  scripts/listSelectors.ts
Due: prettier --write

Fix not running tests | add README script description
  README.md
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
Due: prettier --write

WIP manufacturer table test
  contracts/implementations/tableland/VehicleTable.sol
  contracts/libraries/tableland/VehicleTableStorage.sol
  hardhat.config.ts
  package-lock.json
  package.json
  test/tableland/VehicleTable.test.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix localhost test
  contracts/implementations/tableland/VehicleTable.sol
  contracts/libraries/tableland/VehicleTableStorage.sol
  package.json
  test/DevAdmin.test.ts
  test/tableland/VehicleTable.test.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

eslint single quote
  .eslintrc
  scripts/listSelectors.ts
Due: prettier --write

Fix linting
  .lintstagedrc.json
  hardhat.config.ts
  package.json
  scripts/abiGenerator.ts
  scripts/admin.ts
  scripts/deploy.ts
  scripts/deployModule.ts
  scripts/linearization.ts
  scripts/listSelectors.ts
  scripts/queryEvents.ts
  scripts/rename.ts
  scripts/script.ts.ignore
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  utils/constants/NftArgs.ts
  utils/constants/UpgradeableContractsArgs.ts
Due: prettier --write

vehicle table tests
  contracts/implementations/tableland/VehicleTable.sol
  contracts/libraries/tableland/VehicleTableStorage.sol
  package-lock.json
  test/tableland/VehicleTable.test.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Documentation
  contracts/implementations/tableland/VehicleTable.sol
  contracts/libraries/tableland/VehicleTableStorage.sol
  test/tableland/VehicleTable.test.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Rename from VehicleTable to DeviceDefinitionTable
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/implementations/tableland/DeviceDefinitionTableInternal.sol
  contracts/implementations/tableland/VehicleTable.sol
  contracts/libraries/tableland/DeviceDefinitionTableStorage.sol
  test/tableland/DeviceDefinitionTable.test.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

WIP: DD insert
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/libraries/tableland/DeviceDefinitionTableStorage.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

WIP: create device definition testing
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/shared/Types.sol
  test/tableland/DeviceDefinitionTable.test.ts
  utils/constants/DeviceDefinitionTable.ts
  utils/constants/index.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Insert device definition tests
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/implementations/tableland/DeviceDefinitionTableInternal.sol
  contracts/shared/Roles.sol
  scripts/data/deployArgs.ts
  test/tableland/DeviceDefinitionTable.test.ts
  utils/constants/AccessControl.ts
  utils/constants/DeviceDefinitionTable.ts
  utils/setup.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Change parent node dev function
  Selectors.md
  abis/DimoRegistry.json
  contracts/dev/DevAdmin.sol
  contracts/shared/Errors.sol
  contracts/shared/Roles.sol
  scripts/data/deployArgs.ts
  test/DevAdmin.test.ts
  utils/constants/AccessControl.ts
  utils/setup.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Latest deployments
  scripts/data/addresses.json
Due: none

Change parent node script
  scripts/changeParentNode.ts
Due: prettier --write

WIP admin AD burning
  Selectors.md
  abis/DimoRegistry.json
  contracts/dev/DevAdmin.sol
  contracts/shared/Roles.sol
  scripts/changeParentNode.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

WIP: Insert DD tests
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/shared/Types.sol
  test/tableland/DeviceDefinitionTable2.test.ts
  utils/constants/DeviceDefinitionTable.ts
  utils/types.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

ignore test file
  test/tableland/DeviceDefinitionTable2.test.ts.ignore
Due: none

Update workflow node version
  .github/workflows/solidity_ci.yml
Due: none

use updated tableland to enable snapshots in tests
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  package-lock.json
  package.json
  test/tableland/DeviceDefinitionTable.test.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix owner in manufacturer event
  contracts/implementations/nodes/Manufacturer.sol
  test/nodes/Manufacturer.test.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update tableland local
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  package-lock.json
  package.json
  test/tableland/DeviceDefinitionTable.test.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Burn and delete pairings
  Selectors.md
  abis/DimoRegistry.json
  contracts/NFTs/AftermarketDeviceId.sol
  contracts/dev/DevAdmin.sol
  test/DevAdmin.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/nodes/AftermarketDevice.test.ts
  utils/constants/AccessControl.ts
  utils/setup.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix tests
  Selectors.md
  abis/DimoRegistry.json
  package.json
  test/DevAdmin.test.ts
Due: prettier --write

Fix tableland/local installation | install --force in workflow
  .github/workflows/solidity_ci.yml
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  test/tableland/DeviceDefinitionTable.test.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

set table by manufacturer
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/implementations/tableland/DeviceDefinitionTableInternal.sol
  test/tableland/DeviceDefinitionTable.test.ts
  test/tableland/DeviceDefinitionTable2.test.ts.ignore
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

WIP: deployment script | mint manufacturer task | instructions
  hardhat.config.ts
  scripts/tableland/Instructions.md
  scripts/tableland/addresses.json
  scripts/tableland/deployLocalTableland.ts
  scripts/tableland/mintManufacturer.ts
Due: prettier --write

WIP: create table by manufacturer
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/implementations/tableland/DeviceDefinitionTableInternal.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Create table by manufacturer | change table schema
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/implementations/tableland/DeviceDefinitionTableInternal.sol
  test/tableland/DeviceDefinitionTable.test.ts
Due: prettier --write, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix deployment script | mint-manufacturer task | WIP: create DD table task
  hardhat.config.ts
  scripts/tableland/Instructions.md
  scripts/tableland/deployLocalTableland.ts
  scripts/tableland/mintManufacturer.ts
  scripts/tableland/tasks.ts
Due: prettier --write

Fix deployment | finish create DD table task
  scripts/tableland/Instructions.md
  scripts/tableland/addresses.json
  scripts/tableland/deployLocalTableland.ts
  scripts/tableland/tasks.ts
Due: prettier --write

Fix deployment script | mint-manufacturer task | WIP: create DD table task
  hardhat.config.ts
  scripts/tableland/Instructions.md
  scripts/tableland/deployLocalTableland.ts
  scripts/tableland/tasks.ts
Due: prettier --write

Fix outputs | remove comments
  scripts/tableland/Instructions.md
  scripts/tableland/addresses.json
  scripts/tableland/deployLocalTableland.ts
  scripts/tableland/tasks.ts
Due: prettier --write

Change event order
  contracts/implementations/MultipleMinter.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'
