Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

remove .only
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix

Remove comments
  contracts/libraries/ChargingStorage.sol
  contracts/libraries/SharedStorage.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Remove AD specific nonce | update documentation
  contracts/implementations/nodes/AftermarketDevice.sol
  contracts/implementations/nonces/NoncesInternal.sol
  contracts/libraries/NoncesStorage.sol
  registry.go
  test/DevAdmin.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

xpp
  registry.go
  utils/constants/Eip712Types.json
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix

Use better name
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix

Newline
  utils/constants/Eip712Types.json
Due: none

Add missing nonce type
  utils/constants/Eip712Types.json
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix

Documentation
  contracts/implementations/nonces/Nonces.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Charge AD minting
  contracts/implementations/AdLicenseValidator/AdLicenseValidatorInternal.sol
  contracts/implementations/charging/ChargingInternal.sol
  contracts/implementations/nodes/AftermarketDevice.sol
  contracts/shared/Operations.sol
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Mapper.test.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  test/streamr/VehicleStream.test.ts
  utils/constants/Charging.ts
  utils/constants/Misc.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Deprecate AdLicenseValidator | fix tests
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/AdLicenseValidator/AdLicenseValidator.sol
  contracts/implementations/AdLicenseValidator/AdLicenseValidatorInternal.sol
  contracts/implementations/Shared.sol
  contracts/implementations/nodes/AftermarketDevice.sol
  contracts/libraries/AdLicenseValidatorStorage.sol
  contracts/libraries/SharedStorage.sol
  contracts/libraries/deprecated/AdLicenseValidatorStorage.sol
  test/AdLicenseValidator.test.ts
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Mapper.test.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/Shared.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  utils/constants/Misc.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update deployment scripts
  scripts/abiGenerator.ts
  scripts/data/addresses.json
  scripts/data/deployArgs.ts
  scripts/deploy.ts
  scripts/listSelectors.ts
Due: eslint . '**/*.ts' --fix

Fix claim AD batch
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/AftermarketDevice.sol
  test/DevAdmin.test.ts
  test/Mapper.test.ts
  test/nodes/AftermarketDevice.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add tests for manufacturer node owner as claimer
  test/nodes/AftermarketDevice.test.ts
Due: eslint . '**/*.ts' --fix

Remove Grant Permission requirement
  contracts/implementations/streamr/VehicleStream.sol
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

VehicleStream updated address
  scripts/data/addresses.json
Due: none

Update dev deployments
  scripts/data/addresses.json
Due: none

Update prod deployments | Shared and Charging
  scripts/data/addresses.json
Due: none

Remove AdLicenseValidator from deployment addresses
  scripts/data/addresses.json
Due: none

validate dd greatest equal to 2005
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Handle multiple tx in the same block
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

update tsconfig | add comment
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  tsconfig.json
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

remove impl address for external contracts
  scripts/data/addresses.json
Due: none

update hardhat-tracer
  package-lock.json
  package.json
Due: none

insert dd task
  scripts/data/ddInsertInput.csv
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

update packages
  package-lock.json
  package.json
Due: none

Remove nonce type from eip712 json
  utils/constants/Eip712Types.json
Due: none

set gas price limit in sync tableland
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

remove event | linting config
  .lintstagedrc.json
  .prettierrc
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/streamr/VehicleStream.sol
  package.json
  test/NFTs/VehicleId.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Latest Vehicle deployment
  scripts/data/addresses.json
Due: none

Latest VehicleId deploys
  scripts/data/addresses.json
Due: none

WIP: hook vehicle Id to work with SACD
  .gitignore
  abis/contracts/NFTs/VehicleId.sol/VehicleId.json
  contracts/NFTs/VehicleId.sol
  contracts/interfaces/ISacd.sol
  contracts/mocks/MockDimoCredit.sol
  contracts/mocks/MockDimoToken.sol
  contracts/mocks/MockSacd.sol
  contracts/mocks/MockStake.sol
  utils/constants/NftArgs.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Mock TablelandTables
  contracts/mocks/MockTablelandTables.sol
  scripts/data/addresses.json
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix contract force import name
  scripts/deployModule.ts
Due: eslint . '**/*.ts' --fix

fix broken tests
  test/DimoForwarder.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/Vehicle.test.ts
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix

Update DeviceDefinitionTable amoy
  scripts/data/addresses.json
Due: none

Path conditions:
  eslint . '**/*.ts' --fix: any of: *.ts
  solhint 'contracts/**/*.sol' --fix: any of: *.sol
  prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol': any of: *.sol
