Repository DIMO-Network/dimo-identity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

.lintstagedrc.json:

{
    "*.ts": [
        "eslint . '**/*.ts' --fix"
    ],
    "*.sol": [
        "solhint 'contracts/**/*.sol' --fix",
        "prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'"
    ]
}

Latest devAdmin deploy
  scripts/data/addresses.json
Due: none

Sync tableland
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add comments to functions
  contracts/implementations/tableland/DeviceDefinitionTable.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update sync progress
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

remove attributes with empty values
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

update gitignore
  .gitignore
Due: none

add event to dd table module
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

fix linting
  scripts/tableland/tasks.ts
Due: eslint . '**/*.ts' --fix

Latest deployments
  scripts/data/addresses.json
Due: none

set DDs function
  Selectors.md
  abis/DimoRegistry.json
  contracts/dev/DevAdmin.sol
  contracts/shared/Roles.sol
  scripts/data/deployArgs.ts
  test/DevAdmin.test.ts
  utils/constants/AccessControl.ts
  utils/setup.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

WIP: Charging module
  contracts/implementations/Charging/Charging.sol
  contracts/implementations/Charging/ChargingInternal.sol
  contracts/implementations/tableland/DeviceDefinitionTable.sol
  contracts/libraries/ChargingStorage.sol
  contracts/libraries/SharedStorage.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add Shared module | testing charging and shared
  contracts/implementations/Charging/Charging.sol
  contracts/implementations/Shared.sol
  contracts/mocks/MockDimoCredit.sol
  contracts/shared/Operations.sol
  test/Charging.test.ts
  test/Shared.test.ts
  utils/constants/Charging.ts
  utils/constants/index.ts
  utils/setup.ts
  utils/sign.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Charging mintVehicleSign | tests
  contracts/implementations/Shared.sol
  contracts/implementations/nodes/Vehicle.sol
  test/nodes/Vehicle.test.ts
  utils/constants/Charging.ts
  utils/constants/Misc.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Charging mint vehicle with DD | tests
  contracts/implementations/nodes/Vehicle.sol
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Rename minting operation
  contracts/implementations/nodes/Vehicle.sol
  contracts/shared/Operations.sol
  test/nodes/Vehicle.test.ts
  utils/constants/Charging.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Charging MultipleMinter | tests
  contracts/implementations/MultipleMinter.sol
  test/MultipleMinter.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix all other broken tests
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Multicall.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/Shared.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix

Documentation
  contracts/implementations/Charging/Charging.sol
  contracts/implementations/Charging/ChargingInternal.sol
  contracts/implementations/Shared.sol
  contracts/libraries/ChargingStorage.sol
  contracts/libraries/SharedStorage.sol
  test/Shared.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Rename operation functions
  contracts/implementations/Charging/Charging.sol
  contracts/implementations/Charging/ChargingInternal.sol
  contracts/libraries/ChargingStorage.sol
  test/Charging.test.ts
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  test/streamr/VehicleStream.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Documentation
  contracts/implementations/Charging/Charging.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Change charge DCX to burn
  contracts/implementations/Charging/ChargingInternal.sol
  contracts/interfaces/IERC20Burnable.sol
  contracts/mocks/MockDimoCredit.sol
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Mapper.test.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/IntegrationId.test.ts
  test/NFTs/ManufacturerId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/Integration.test.ts
  test/nodes/Manufacturer.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  test/streamr/VehicleStream.test.ts
  test/tableland/DeviceDefinitionTable.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Rename charging folder
  contracts/implementations/charging/Charging.sol
  contracts/implementations/charging/ChargingInternal.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update ABI and Selector generators
  Selectors.md
  abis/DimoRegistry.json
  contracts/implementations/nodes/Vehicle.sol
  scripts/abiGenerator.ts
  scripts/listSelectors.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update deploy script | args | addresses file
  scripts/data/addresses.json
  scripts/data/deployArgs.ts
  scripts/deploy.ts
Due: eslint . '**/*.ts' --fix

Update import
  contracts/implementations/MultipleMinter.sol
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Nonces module | update scripts
  Selectors.md
  contracts/implementations/nonces/Nonces.sol
  contracts/implementations/nonces/NoncesInternal.sol
  contracts/libraries/NoncesStorage.sol
  scripts/abiGenerator.ts
  scripts/data/addresses.json
  scripts/deploy.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add nonces to mint vehicle and multiple minter | tests
  abis/DimoRegistry.json
  contracts/implementations/MultipleMinter.sol
  contracts/implementations/nodes/Vehicle.sol
  contracts/implementations/nodes/VehicleInternal.sol
  contracts/shared/Types.sol
  scripts/listSelectors.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/nodes/Vehicle.test.ts
  utils/constants/eip712.ts
  utils/types.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

AD functions with nonce
  contracts/implementations/nodes/AftermarketDevice.sol
  test/NFTs/AftermarketDeviceId.test.ts
  test/nodes/AftermarketDevice.test.ts
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Vehicle burn with nonce
  contracts/implementations/nodes/Vehicle.sol
  test/nodes/Vehicle.test.ts
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

SD mint and burn with nonce
  contracts/implementations/nodes/SyntheticDevice.sol
  test/nodes/SyntheticDevice.test.ts
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Fix remaining broken tests
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Multicall.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix

Unify eip712 typehashes
  contracts/implementations/nodes/AftermarketDevice.sol
  contracts/implementations/nodes/SyntheticDevice.sol
  test/DevAdmin.test.ts
  test/DimoForwarder.test.ts
  test/Multicall.test.ts
  test/MultipleMinter.test.ts
  test/NFTs/AftermarketDeviceId.test.ts
  test/NFTs/SyntheticDeviceId.test.ts
  test/NFTs/VehicleId.test.ts
  test/nodes/AftermarketDevice.test.ts
  test/nodes/SyntheticDevice.test.ts
  test/nodes/Vehicle.test.ts
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Add missing nonce
  contracts/implementations/MultipleMinter.sol
  test/MultipleMinter.test.ts
  utils/constants/eip712.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Update DimoToken Amoy implementation address
  scripts/data/addresses.json
Due: none

Update DIMO Token Amoy implementation address
  scripts/data/addresses.json
Due: none

Latest Amoy deployments
  scripts/data/addresses.json
Due: none

Remove role requirement from minting function
  contracts/implementations/nodes/Vehicle.sol
  scripts/data/addresses.json
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Remove role from minting function
  contracts/implementations/nodes/Vehicle.sol
  test/nodes/Vehicle.test.ts
Due: eslint . '**/*.ts' --fix, solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'

Latest deployments
  contracts/implementations/nodes/Vehicle.sol
  scripts/data/addresses.json
Due: solhint 'contracts/**/*.sol' --fix, prettier --write --plugin=prettier-plugin-solidity 'contracts/**/*.sol'
